.Contact-items h2 {

    color: var(--btn-bg-color);

}




.demo1 .one {
    background-color: #f5f5f5;

}

.About .one h3 {
    font-size: 1.3rem;
    color: var(--btn-bg-color);

}

.About h3 {
    color: var(--btn-bg-color);
}












.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 300px !important;
}

.swiper-slide img {
    display: block;
    width: 100% !important;
}