/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-transform: capitalize;
}

/* CSS Variables */
:root {
  --spancolor: hsl(38 90% 55%);
  --btn-bg-color: #0f7d9f;
  --minColor: #fff;
  --bgColor: #b8dce7;
  --text-color: #2f3645;
  --text-white: white;
  /* stars */
  --primary-colour: #EEEDEB;
  --secondary-colour: hsl(233 80% 70%);
  --star-colour: hsl(38 90% 55%);
}

/* Global Styles */
body {
  font-family: 'Amiri', serif !important;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  background-color: var(--minColor);
  color: var(--text-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bgColor);
  border-radius: 4rem;
}
::-webkit-scrollbar-track-piece {
  background-color: white;
}
::-webkit-scrollbar {
  width: 0.6rem;
}
/* Link Styles */
a {
  text-decoration: none !important;
  color: var(--text-color) !important;
}

/* Utility Classes */
.nowrap {
  white-space: nowrap;
}
.pointer {
  cursor: pointer;
}
.modal-backdrop.show {
  z-index: 1;
}
.btncolor {
  background-color: var(--btn-bg-color) !important;
  color: var(--minColor)!important;
  
}
.skeleton-loading {
  opacity: .7;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  display: block;
  animation: skeleton 1s infinite linear alternate;
  background: linear-gradient(0.25turn, transparent, #dfdada, transparent),
              linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
}
.MinPage, .card-body {
  color: var(--text-color);
}
.react-multi-carousel-track {
  margin: auto;
}
.react-multiple-carousel__arrow {
  background-color: var(--bgColor) !important;
}
table th {
  background-color: var(--bgColor);
}


/* Skeleton Keyframes */
@keyframes skeleton {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}
.container-marquee {
  display: flex;
  width: 100%;
  overflow: hidden; /* لإخفاء النص عند خروجه من حدود الـ div */
  white-space: nowrap; /* لمنع التفاف النص */
 
  .marquee {
    -webkit-animation: marquee 20s linear infinite;
    animation: marquee 20s linear infinite;
}

}


 @keyframes marquee {
  from {
    -webkit-transform: translateX(-99%);
    -moz-transform: translateX(-99%);
    -ms-transform: translateX(-99%);
    -o-transform: translateX(-99%);
    transform: translateX(-99%);
}
  to {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
}
.form-control{
text-transform: none !important;;
}