form{
    color: var(--text-color);
    h2{
       
        
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        
    }
    input{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}


@media screen and (min-width: 768px) {
  .Auth form {
        width: 30rem  !important;
       
    }
}