header {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -o-transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  transition: 1.5s;
  background-color: var(--bgColor) !important;
  box-shadow: var(--text-color) 0px 10px 10px -10px;

  .nav {
    background-color: var(--minColor) !important;

  }
  svg{
    color: var(--btn-bg-color) !important;  
  }
  .active {
    svg {
      /* background-color: var(--text-color); */
      color:  var(--text-color) !important;
    }

    background-color: var(--bgColor);
    color: var(--text-color) !important;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
  }
  .sub-menu{
    overflow: auto;
    max-height: 100vh;
    list-style: none;
    right: 0;
    top: 25px;
    background-color: #ffffff;
    padding: 10px;
    z-index: 1003 !important;
    font-size: 1rem;
    font-weight: 400;
    color: #888888;
    width: max-content;
    li{
      font-size: 15px !important;

      list-style: none;
      transition: 0.5s;
      background-color: var(--bg-color);
      z-index: 999;
      
      padding: 0.5rem 5px;
      /* border-bottom: 1px solid #e5e7eb; */
      cursor: pointer;
      &:hover{
        background-color: var(--bgColor);
        color: var(--btn-bg-color) !important;
      }
    }
  }
}
.mobelLink li:not(.active):after,
.mobelLink li #categories .card:after,
header .nav-link:not(.active):after {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  background-color: var(--bgColor);
  bottom: 0;
  right: 0;
  transition: 0.5s;

}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  aspect-ratio: '1',
}
.mobelLink  #categories .card:hover:after,
.mobelLink ul li:hover::after,
nav ul .nav-link:hover::after {
  width: 100% !important;
  left: 0;
  
}

nav ul li:hover ,
nav ul li:hover svg,
nav ul li:hover  a{
  color: var(--text-color) !important;
  transition: 0.5s !important;

}
nav li,
nav a {
  transition: 0.5s !important;
  color: var(--btn-bg-color) !important;
  text-decoration: none;

}
.sub-menu li{
color: #777777 !important;
}
.serch input {
  border: none;
background-color: #f7f7f7!important ;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
}

.serch {
  color: var(--text-color);
  height: 2rem;
z-index: -1;
  label {
    width: 35px;
    height: 35px;
    background-color: var(--bg-color);
    color: var(--minColor);
    display: flex;
    align-items: center;
  }

  .input-box {
    border: 1px solid var(--btn-bg-color) !important;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
  }
}

/* dropdown-menu */
.dropdown-menu,
.dropdown-menu .dropdown-item {
  background-color: var(--bgColor) !important;
  color: var(--btn-bg-color) !important;
}

.dropdown-menu .dropdown-item:hover svg {
  color: var(--bg-color) !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--text-color) !important;
  color: var(--minColor) !important;
}



.serch svg {
  color: var(--text-color);

  cursor: pointer;
  z-index: 100;
}

header span {
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

/* span setyle */
#whatsapp {
  left: 5%;
  padding:  4px;
  color: var(--minColor);
  background-color: #33bd45;
  svg {
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    fill: rgb(255, 255, 255);
  }

}

#whatsapp,
#span {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  z-index: 1003 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -o-transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  transition: 3s;
}

#span {
  right: 5%;

  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: var(--bgColor);


  cursor: pointer;
  /* border: 3px solid var(--btn-bg-color); */
}

#span svg:first-child {
  -webkit-animation: top 1s infinite;
  animation: top 1s infinite;
}

#span svg:last-child {
  -webkit-animation: top 1s infinite 0.3s;
  animation: top 1s infinite;

}

@keyframes top {
  from {
    -o-transform: scale(0) translateY(0px);
    -webkit-transform: scale(0) translateY(0px);
    -moz-transform: scale(0) translateY(0px);
    -ms-transform: scale(0) translateY(0px);
    transform: scale(0) translateY(0px);
  }

  to {
    -o-transform: scale(1) translateY(-5px);
    -webkit-transform: scale(1) translateY(-5px);
    -moz-transform: scale(1) translateY(-5px);
    -ms-transform: scale(1) translateY(-5px);
    transform: scale(1) translateY(-5px);
  }
}

#span:active {
  bottom: 10px !important;
}

header #span svg {
  z-index: 999 !important;
}



/* mobail sidebar */
.bars{

  width: 35px;

  cursor: pointer;

  -webkit-transition:1s ;
  -moz-transition:1s ;
  -ms-transition:1s ;
  -o-transition:1s ;
  transition:1s ;
    

}
.bars span{
  display: block;
  width: 60%;
  height: 3px;
  margin: 3px auto;
  background-color: var(--SpanColr);
}
.bars:hover.bars span:nth-child(2){
  width: 80% !important;

}


  /* mobelLink */
.mobelLink{
background-color: #ffffff;
  overflow: auto;
min-width: 50% ;
  position: fixed;
  top: 55px;
  right: 0;
  z-index: 1003;
  /* padding-top: 100px; */
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  min-height: 100vh;
    ul{ 
      font-size: 1rem;
     
     height: 100vh;
   width:100%;
     right: 0;
     font-weight: 400;
  }

}


.mobelLink li{
  font-size: 15px !important;
  min-height: 40px;
  list-style: none;

  transition: 0.5s;
  background-color: var(--bg-color);

  z-index: 999;
  transform: translateX(-200%);
  padding: 2px 5px;

  border-bottom: 1px solid #f8f8f8;
  cursor: pointer;
  #categories{
    padding-right: 0.4rem;
    background-color: #f9fafb !important;
    .card{
      background-color:transparent !important;;
      border-bottom: 1px solid #eeee !important;
      
      padding: 10px;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
    }
  }
  button{
    color: #888888;
    border-bottom: 1px solid #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  

}
.mobelLink a{
  display: block;
  position: relative;
  padding: 5px 10px;
  position: relative;
    color: #888888 !important;
    width: 100%;
    text-align: start;
  
          }
.mobelLink .active{
  background-color: var(--bgColor) ;
  color: var(--btn-bg-color) !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.mobelLink a:hover{
  color: var(--btn-bg-color) !important;
}
.mobelLink li:nth-child(1){
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
}
.mobelLink li:nth-child(2){
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.mobelLink li:nth-child(3){
   transition: 1S; 
   -webkit-transition: 1S;
    -moz-transition: 1S; 
    -ms-transition: 1S; 
    -o-transition: 1S;
}
.mobelLink li:nth-child(4){
  transition: 1.2s;
  -webkit-transition: 1.2s;
  -moz-transition: 1.2s;
  -ms-transition: 1.2s;
  -o-transition: 1.2s;
}
.mobelLink li:nth-child(5){
  transition: 1.4s;
  -webkit-transition: 1.4s;
  -moz-transition: 1.4s;
  -ms-transition: 1.4s;
  -o-transition: 1.4s;
}
.mobelLink li:nth-child(6){
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}
.mobelLink li:nth-child(7){
  transition: 1.7s;
  -webkit-transition: 1.7s;
  -moz-transition: 1.7s;
  -ms-transition: 1.7s;
  -o-transition: 1.7s;
}
.mobelLink li:nth-child(8){
  transition: 1.9s;
  -webkit-transition: 1.9s;
  -moz-transition: 1.9s;
  -ms-transition: 1.9s;
  -o-transition: 1.9s;
}
.mobelLink li:nth-child(9){
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
