

.caroselcategory img,
.AllCategories img,
.AllBrands img,
.caroselBrand img{

    transition: 0.5s;
    display: block;
}
.caroselBrand:hover img ,
.AllCategories a:hover  img,
.AllBrands a:hover  img,
.caroselcategory:hover img 
{


   transform: scale(1.08);
   
}