

.caroselcategory img,
.AllCategories img,
.AllBrands img,
.caroselBrand img{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: block;
}
.caroselBrand:hover img ,
.AllCategories a:hover  img,
.AllBrands a:hover  img,
.caroselcategory:hover img 
{

   -webkit-transform: scale(1.08);
   -moz-transform: scale(1.08);
   -ms-transform: scale(1.08);
   -o-transform: scale(1.08);
   transform: scale(1.08);
   
}